.preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: white;
}

.catchphrase-container {
  margin-left: 100px;
}

.head-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 185px;
}

.head {
  /* background-image: url('../../bird-head.png'); */
  height: 250px;
  width: 250px;
  background-size: cover;
}
